[tool.black]
line-length = 88
target-version = ["py314"]

[tool.mypy]
python_version = "3.14"
ignore_missing_imports = true
warn_unused_ignores = true
warn_return_any = true
disallow_untypted_defs = true
plugins = [
    "mypy_django_plugin.main"
]

[tool.django-stubs]
django_settings_module = "ai_communication.settings"

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
combine_as_imports = true

[tool.isort.sections]
django = ["django"]

[tool.isort.section_order]
sections = [
    "FUTURE",
    "STDLIB",
    "DJANGO",
    "THIRDPARTY",
    "FIRSTPARTY",
    "LOCALFOLDER",
]
