html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;

    padding: 20px calc(var(--space-xl) * 2);
    
    border-bottom: 2px solid var(--color-border);
    border-radius: 24px;

    display: flex;
    align-items: center;
}

.header-left {
    width: 30%;

    display: flex;
    align-items: center;

    gap: 16px;
}
.header-left__title {
    color: #6246bf;

    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.header-right {
    width: 70%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 32px;
}
.header-right > a {
    color: var(--color-text);

    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 500;
}
.header-right > a:last-child {
    color: white;
    padding: var(--space-sm) var(--space-xl);

    background-color: #00b04e;
    border-radius: 40px;
}

.main-container {
    flex: 1;

    padding: 0 var(--space-xl);

    width: 100%;
    max-width: 960px;
}

footer {
    width: 100%;

    text-align: center;

    padding: var(--space-sm) 0;

    background: #333;

    color: #ccc;
}