html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    position: fixed;

    padding: 40px var(--space-xl);
    
    box-shadow: 10px 0px 30px rgba(131, 131, 131, 0.35);
    border-radius: 24px;

    display: flex;
    align-items: center;
}

.header-left {
    width: 30%;

    display: flex;
    align-items: center;

    gap: 8px;
}

.header-left img {
    height: 60px;
}

.header-left__title {
    color: var(--color-text) !important;

    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.header-right {
    width: 70%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 32px;
}
.header-right > a {
    color: var(--color-text);

    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 500;
}
.header-right > a:last-child {
    color: white;
    padding: var(--space-sm) var(--space-xl);

    background-color: var(--color-primary);
    border-radius: 40px;
}

.main-container {
    padding: 0 var(--space-xl);

    width: 100%;
}

footer {
    width: 100%;

    text-align: center;

    padding: var(--space-sm) 0;

    background: #333;

    color: #ccc;
}