.home-content {
    height: 100svh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.home-card {
    flex:1;
}

.home-card h2 {
    font-size: 72px;
}

.home-card p {
    color: var(--color-text-description);
    font-size: 20px;
}

.home-card button {
    margin-top: 72px;
}

.home-image {
    flex: 1;
    width: 500px;
    height: 500px;
    margin-top: 80px;
    transform:
        perspective(750px)
        translate3d(20px, 20px, -250px)
        rotateX(27deg)
        scale(0.9, 0.9);
    border-radius: 20px;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
}

.home-image:hover {
    transform: translate3d(0px, 0px, -250px);
}

.home-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}