.speaking-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speaking-header {
    margin-bottom: 80px;
}

.speaking-header h2 {
    font-size: 48px;
    text-align: center;
}

.speaking-header p {
    font-size: 20px;
    text-align: center;
    color: var(--color-text-description);
}

.speaking-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.speaking-content-left {
    text-align: center;
}

.btn-primary-speaking {
    width: 150px;
    background-color: #628141;
    border: 3px solid #0000;
    border-radius: 12px;
}

.recording {
    background-color: #DC0E0E;
}

.recording-text span {
    display: inline-block;
    animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce {
    0% { transform: translateY(0) }
    100% {transform: translateY(-5px)}
}

.recording-text span:nth-child(1) {
    animation-delay: 0.1s;
}
.recording-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.recording-text span:nth-child(3) {
    animation-delay: 0.3s;
}
.recording-text span:nth-child(4) {
    animation-delay: 0.4s;
}

.speaking-content-left p {
    font-size: 20px;
    margin-top: 8px;
}

.speaking-content-right {
    height: 300px;
    flex: 1;
    border: 1px solid var(--color-text-description);
    padding: 16px;
    border-radius: 8px;
}