<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}AI Communication{% endblock %}</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'app/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'app/css/global.css' %}" />
        <link rel="stylesheet" href="{% static 'app/css/base.css' %}" />

        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>AI Communication</h1>
        </header>
        <main class="main-container">
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            © 2025 AI Communication
        </footer>

        {% block extra_js %}{% endblock %}
    </body>
</html>